
//
// VARIABLES
//

// Colors
$black: #000;
$blue: #56ccfd;
$border_gray: #666666;
$cracker: #FFFFFF;
$dark_gray: #1d1d1d;
$gray: #232323;
$green: #2c9b3f;
$light_gray: #313131;
$purple: #8a38d7;
$red: #de3a29;
$white: #d1d1d1;
$yellow: #e5b82e;

// Font stacks
@font-face {
  font-family: "Glacial";
  src: url("fonts/GlacialIndifference-Regular.otf");
}

@font-face {
  font-family: "Arvo";
  src: url("fonts/Arvo-Regular.ttf");
}

@font-face {
  font-family: "Glacial-Bold";
  src: url("fonts/GlacialIndifference-Bold.otf");
}
